@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Quicksand, "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 1.15rem;
  background-color: #4a5568;
}

a {
  color: #4299e1;
  font-weight: 700;
}

h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.25rem;
  margin: 3rem 0;
  background: linear-gradient(90deg, #805ad5, #4299e1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}
